{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>Modifier le profil</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <h3>Informations personnelles</h3>
        {{ user_form.as_p }}
        
        <h3>Photo de profil</h3>
        {{ profile_form.as_p }}

        <div class="buttons">
            <button type="submit">Enregistrer les modifications</button>
            
            <a href="{% url 'profile' %}" class="btn-cancel">Annuler</a>
        </div>
    </form>
</div>

{% endblock %}